div.ccm-block-hero-image {

  div.ccm-block-hero-image-text {
    color: $body-bg;
    font-size: 2rem;

    h1 {
      font-weight: 700;
      margin-bottom: 0;
      font-size: 4rem;
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }

  }

}
