$primary: #ff3c10 !default;
$secondary: #704c3b !default;
$light: #dcd9fe !default;
$body-bg: #f6c7b4 !default;
$fun: #fb4996 !default;

// Spacing variables
$container-margin-y: 3rem !default;

// Body Font
$font-family-base: "Bellota Text" !default;

// Headings
$headings-font-family: "Fredoka One" !default;
$headings-color: #8bb2ff !default;
$headings-font-weight: 400 !default;
