@import url(//fonts.googleapis.com/css?family=Fredoka+One);
@import url(//fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap);

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light
);

$custom-colors: (
        "fun": $fun
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$font-weight-base: 500;
$font-size-root: 20px;